<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			/>
		<result property="prodName"	column="prod_name" 		/>
		<result property="prodDetail" 	column="prod_detail" 		/>
		<result property="manuDate" 				column="manufacture_day" 				/>
		<result property="price" 				column="price" 				/>
		<result property="fileName" 			column="image_file" 		/>
		<result property="regDate" 				column="reg_date" 					 />
		<result property="proTranCode" 				column="code" 					 />
		<result property="quantity" 				column="quantity" 					 />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="product" >
	 	INSERT
		INTO product( prod_no , prod_name , prod_detail , manufacture_day , price, image_file, reg_date,quantity) 
		VALUES	 (	seq_product_prod_no.nextval , #{prodName} , #{prodDetail} , #{manuDate} , #{price} , 
							 #{fileName} , SYSDATE, #{quantity} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getProduct"	parameterType="int"	resultMap="productSelectMap">
		SELECT p.*
		FROM product p 
		WHERE p.prod_no = #{value}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set >
	   	<if test="prodName != null ">
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail},
			manufacture_day 				= #{manuDate} ,
			price				=	#{price},
			image_file				=	#{fileName},
			quantity = #{quantity}
		</if> 
		
		<if test="prodName == null ">
			quantity = quantity-1
		</if>
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT p.*
											FROM product p
											
												<where>
												<if test="searchCondition != null">
												
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				p.prod_no like '%'||#{searchKeyword}||'%' and
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_name like '%${searchKeyword}%' and
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				price like '%${searchKeyword}%' and
													</if>
													
												</if>
													
												</where>
											
											ORDER BY p.prod_no desc ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT p.*
											FROM product p
											
												<where>
												<if test="searchCondition != null">
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				p.prod_no like '%${searchKeyword}%' and
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_name like '%${searchKeyword}%' and
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				price like '%${searchKeyword}%' and
													</if>
											</if> 
													
												</where>
											) countTable						
	 </select>
	 
</mapper>